<%- include('partials/header.ejs') %>
<body>
  <div>
  <h1> Pacific Analytic's Electronic Repair Shop </h1>
  <h1> Admin Page </h1>
  <h1>Debug Info</h1>
  <nav>
    <a href="/1">Customers</a>
    <a href="/2" >Products</a> 
    <a href="/4" >Technicians</a> 
    <a href="/3" >Requests - Currently Empty</a> 
</nav></div>
  <br>
  <figure>
  <img src="/img/computerRepair.webp" width="50%" height="50%"><br>
  <a href="https://www.freepik.com/vectors/isometric-laptop">Isometric laptop vector created by macrovector - www.freepik.com</a></figure>
  <%- include('partials/footer.ejs') %>
</body>
</html>